@use 'sass:color';
@import '/styles/_variables.scss';

.portraitBubble {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: auto;
    box-shadow: 0px 0px 70px 0px #eedaaf33 !important
}

.cardImg {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.cardHeadText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px black;
}

.mxm {
    background: #212121;
    border: 1px solid ;
    padding: 15px 20px;
    width: 75%;
    max-width: 290px;
    margin: 10px auto;
    text-decoration: none !important;
    color: $secondary;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    transition: all .2s linear;
}

.mxm:hover {
    box-shadow: 0px 0px 20px 0px color.adjust($secondary, $alpha: -0.7);
    color: color.adjust($secondary, $lightness: 10%) !important;
    border-color: color.adjust($secondary, $lightness: 10%);
}